domain_name = "example.com"

#uncomment and fill theses in if using Cloudflare
#cloudflare_api_key = "acDeAbcdEFghijKLmnoPQrstUVwxYZ12345" #37 Global API Key
#cloudflare_email = "john.doe@example.com"
#cloudflare_account_id = "abcdefghijklmnopqrstuvwxyz123456" #32 character Account ID